@page "/ReadMembers"
@attribute [Authorize(Roles = "Administrator")]
@using ShopifyPortal.Helpers
@using ShopifyPortal.Integration.PortalDb;
@using ShopifyPortal.Integration.PortalDb.Models;
@using ShopifyPortal.Integration.PortalDb.Services;
@inject PortalDbConnectionSettings PortalDbConnectionSettings
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject NavigationManager NavManager

<MudText Typo="Typo.h5">Brainz Members</MudText>
<MudProgressLinear Color="Color.Primary" Indeterminate="IsProgress" Class="my-7" />

<MudTable Items="@PortalUsers" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Member,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudTextField @bind-Value="searchString1" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <MudDivider Vertical="true" FlexItem="true" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" OnClick="@((e) => OnRegisterUser())"></MudIconButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Email</MudTh>
        <MudTh>First name</MudTh>
        <MudTh>Last name</MudTh>
@*         <MudTh>Phone</MudTh>
        <MudTh>Role</MudTh> *@
        <MudTh>Organization</MudTh>
        <MudTh>Registered Date</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="First name">@context.FirstName</MudTd>
        <MudTd DataLabel="Last name">@context.LastName</MudTd>
@*         <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd DataLabel="Role">@context.Role</MudTd> *@
        <MudTd DataLabel="Organization">@context.Tags</MudTd>
        <MudTd DataLabel="Registered Date">@context.RegisteredDate</MudTd>
        <MudTd DataLabel="Action">  
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" OnClick="@((e) => OnUpdateUser(context))"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" OnClick="@((e) => OnDeleteUser(@context.Email))"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
@*
<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selected1: @selectedItem1?.FirstName</MudText>
    </div>
</div>*@

