@page "/ReadOrganizations"
@attribute [Authorize(Roles = "Administrator")]
@using ShopifyPortal.Helpers
@using ShopifyPortal.Integration.PortalDb;
@using ShopifyPortal.Integration.PortalDb.Models;
@using ShopifyPortal.Integration.PortalDb.Services;
@inject PortalDbConnectionSettings PortalDbConnectionSettings
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject NavigationManager NavManager

<MudText Typo="Typo.h5">Organizations</MudText>
<MudProgressLinear Color="Color.Primary" Indeterminate="IsProgress" Class="my-7" />

<MudTable Items="@Organizations" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Organization,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudTextField @bind-Value="searchString1" Immediate="true" Placeholder="Search in the Table" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0"></MudTextField>
        <MudSpacer />
        <MudDivider Vertical="true" FlexItem="true" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" OnClick="@((e) => OnAddOrganization())"></MudIconButton>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Logo</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Code</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Contact person</MudTh>
        <MudTh>Commission</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="OrganizationLogo">
            @if (@context.ImagePathFile != "")
            {
                <MudImage Src="@context.ImagePathFile" Height="50" Width="100" ObjectFit="ObjectFit.Contain" />
            }
        </MudTd>
        <MudTd DataLabel="OrganizationType">@context.OrganizationType</MudTd>
        <MudTd DataLabel="OrganizationCode">@context.OrganizationCode</MudTd>
        <MudTd DataLabel="OrganizationName">@context.OrganizationName</MudTd>
        <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="ContactPerson">@context.ContactPerson</MudTd>
        <MudTd DataLabel="ParentCommission">@context.ParentCommission</MudTd>
        <MudTd DataLabel="Action">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" OnClick="@((e) => OnUpdateOrganization(@context))"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" OnClick="@((e) => OnDeleteOrganization(@context))"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
@*
<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selected1: @selectedItem1?.FirstName</MudText>
    </div>
</div>*@




