@page "/ReadVendors"
@attribute [Authorize(Roles = "Administrator")]
@using BrainzParentsPortal.Helpers
@using BrainzParentsPortal.Integration.PortalDb;
@using BrainzParentsPortal.Integration.PortalDb.Models;
@using BrainzParentsPortal.Integration.PortalDb.Services;
@inject PortalDbConnectionSettings PortalDbConnectionSettings
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject NavigationManager NavManager

<MudText Typo="Typo.h5">Vendors</MudText>
<MudProgressLinear Color="Color.Primary" Indeterminate="IsProgress" Class="my-7" />

<MudTable Items="@Vendors" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Vendor,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>

        <MudTextField @bind-Value="searchString1" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer/>
        <MudDivider Vertical="true" FlexItem="true" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" OnClick="@((e) => OnAddVendor())"></MudIconButton>
    </ToolBarContent>
    <ColGroup>
        <col style="width:0%;" />
        <col />
        <col />
        <col  />
    </ColGroup>
    <HeaderContent>
        <MudTh>Logo</MudTh>
        <MudTh>VendorCode</MudTh>
        <MudTh>VendorName</MudTh>
        <MudTh>Phone</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Contact person</MudTh>
        <MudTh>Vendor commission</MudTh>
        <MudTh>Parent commission</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="VendorLogo">
            @if (@context.ImagePathFile != "" )
            {
                <MudImage Src="@context.ImagePathFile" Height="50" Width="100" ObjectFit="ObjectFit.Contain" />
            }            
        </MudTd>
        <MudTd DataLabel="VendorCode">@context.VendorCode</MudTd>
        <MudTd DataLabel="VendorName">@context.VendorName</MudTd>
        <MudTd DataLabel="Phone">@context.Phone</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="ContactPerson">@context.ContactPerson</MudTd>
        <MudTd DataLabel="VendorCommission">@context.VendorCommission</MudTd>
        <MudTd DataLabel="ParentCommission">@context.ParentCommission</MudTd>
        <MudTd DataLabel="Action">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" OnClick="@((e) => OnUpdateVendor(@context))"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" OnClick="@((e) => OnDeleteVendor(@context))"></MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
@*
<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selected1: @selectedItem1?.FirstName</MudText>
    </div>
</div>*@


    